# This is example of .env file. Remove '.example' from this file to apply variables

# Server
SERVER_ADDRESS=127.0.0.1:8080	# Address that server will be listening

# Database
APP_NAME=MUC-server				# default app name (not recommended to change it)

# Database path.
# If DB_PATH is empty, server will be use this default pathes:
#   For Windows — %APPDATA%/LocalLow/Zeerck Inc/<APP_NAME>/db/database.sqlite
#   For linux — $XDG_DATA_HOME/zeerck-inc/<APP_NAME>/db/database.sqlite
# But if you want to change it, just enter something like that: DB_PATH=./db/database.sqlite 
DB_PATH=

# Timeouts
READ_TIMEOUT=300				# Read timeout (in seconds) to prevent infinite (dead) connections (0 to infinite)
HANDSHAKE_TIMEOUT=10            # Handshake timeout (in seconds) to prevent handshake-ddos atacks 