# Server
SERVER_ADDRESS=127.0.0.1:8080	# Address that server will be listening

# Database
APP_NAME=MUC-server				# default app name (not recommended to change it)
DB_PATH=./db/database.sqlite	# Database path

# Timeouts
NICKNAME_TIMEOUT=30				# Timeout in seconds for user to entering nickname
READ_TIMEOUT=300				# Read timeout to prevent infinite (dead) connections (0 to infinite)